<h2><%= search_results.member_count %> Members</h2>

<% search_results.members.each do |member| %>
  <section class = "members">
    <p>Name: <%= member.name %></p>
    <p>Role: <%= member.role %></p>
    <p>House: <%= member.house %></p>
    <p>Patronus: <%= member.patronus %></p>
  </section>
<% end %>
